*.vsidx
x64/
.vs/
Project1/Project1/x64/
Project2/Project2/x64/
Project3/Project3/x64/
Project4/Project4/x64/
Project5/Project5/x64/
Project6/Project6/x64/
Project7/Project7/x64/
Project8/Project8/x64/
Demo/Demo/x64/
